<div id="comments" class="noprint">
<h2>Comments</h2>
<form action="https://todoapiendpoint" method="post">
<label for="comment-text">Your comment:</label>
<textarea id="comment-text" name="text" placeholder="You can use $\mathbb{Z}[i]$ math and `code` here." rows="6" required></textarea>
<label for="comment-name">Name:</label>
<input type="text" id="comment-name" name="name" placeholder="John Doe" required>
<input type="hidden" name="path" value="todopathname">
<input type="button" value="Preview">
<input type="submit" value="Submit">
</form>
</div>
