<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
  {{- partial "head.html" . -}}
  <script src="/toc.js"></script>
  </head>
  <body>
  <div id=sidebar class="noprint">
    <aside>
    {{ with .Resources.GetMatch "cover.*" }}
    <img src="{{ .RelPermalink }}" style="display: block; width: 128px; height: 128px; margin-bottom: 2rem;">
    {{ end }}
    {{- partial "toc.html" . -}}
    </aside>
  </div>
  <div id="stripe">
    {{- partial "header_post.html" . -}}
    <main>
    {{- block "main" . }}{{- end }}
    </main>
    {{ if .Site.Params.commentsystem }}
    {{ if isset .Params "comments" }}
    {{ if .Params.comments }}
    {{- partial "comments.html" -}}
    {{ end }}
    {{ end }}
    {{ end }}
    {{- partial "footer.html" . -}}
  </div>
  </body>
</html>
