body {
  max-width: 700px;
  margin: auto;
  padding: 0.3em;
  line-height: 1.4;
  font-size: 13pt;
  background-color: #ffffdb;
  overflow-y: scroll;
}

footer {
  text-align: center;
  color: grey;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 11pt;
  }
}

@media print {
  body {
    line-height: 1.2;
    font-size: 11pt;
    background-color: transparent;
  }

  footer {
    display: none;
  }

  .noprint {
    display: none;
  }
}

nav ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(255,247,200,0), rgba(255,247,200,1), rgba(255,247,200,0));
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav li a, nav li p {
  display: block;
  margin: 0;
  padding: 0.2em 0.6em;
}

p {
  text-align: justify;
}

a {
  color: blue;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: normal;
}

#posttitle {
  text-align: center;
  font-size: 2.5em;
}

#postauthor {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

#postdate {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 2.5em;
}

#posthead {
  overflow: auto;
  margin: 0.5em 0em;
}

#posthead a {
  margin: 0;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

#posthead-back {
  background: rgba(0,0,255,0.05);
}

#posthead-pdf {
  background: rgba(255,0,0,0.05);
  color: rgba(127,0,0,1);
}

figure {
  margin: 0px;
  padding: 0px;
  height: auto;
  margin-bottom: 1em;
}

figure img {
  width: 100%;
  height: auto;
  display: block;
}

figure.floatright {
  float: right;
  margin-left: 1em;
  width: 38.2%;
}

figure.floatleft {
  float: left;
  margin-right: 1em;
  width: 38.2%;
}

div.preview {
  overflow: auto;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.preview:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 0.2em;
}

div.preview h3 {
  margin-top: 0em;
  margin-bottom: 0.3em;
}

div.preview p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.katex {
  font-size: 1.065em;
}
