* {
  box-sizing: border-box;
}

:root {
  --yellow: rgba(255,248,200,1);
  --stripewidth: 700px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  background-color: rgba(255,252,229,1);
  overflow-y: scroll;
  font-family: 'Lora', serif;
  margin: 5px;
}

#stripe {
  max-width: 700px;
  margin: auto;
}

#sidebar {
  position: fixed;
  top: 0;
  width: calc((100% - var(--stripewidth))/2 - 1rem);
  font-size: 15px;
  padding: 3rem 2rem;
}

.hide {
  display: none;
}

footer {
  text-align: center;
  color: grey;
}

@media screen and (max-width: 1100px) {
  #sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

#menu ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
  background-image: linear-gradient(to right, transparent, var(--yellow), transparent);
}

#menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#menu li a, nav li p {
  display: block;
  margin: 0;
  padding: 0.2em 0.6em;
}

#sidebar h3 {
  font-weight: normal;
  margin: 0.8em 0;
}

#sidebar a {
  color: black;
  opacity: 0.5;
}

#sidebar a.active {
  opacity: 1;
}

#TableOfContents ul {
  list-style-type: none;
  margin: 0.8em 0;
  padding: 0;
}

#TableOfContents li {
  margin: 0.4em 0;
  padding: 0;
}

#TableOfContents > ul > li > ul {
  margin: 0;
  font-size: 90%;
}

#TableOfContents > ul > li > ul > li {
  margin-left: 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p {
  text-align: justify;
}

a {
  color: blue;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: normal;
}

#posttitle {
  text-align: center;
  font-size: 2.5em;
}

#postauthor {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

#postdate {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 2.5em;
}

#posthead {
  overflow: auto;
  margin: 0.5em 0em;
}

#posthead a {
  margin: 0;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

#posthead-back {
  background: rgba(0,0,255,0.05);
}

#posthead-pdf {
  background: rgba(255,0,0,0.05);
  color: rgba(127,0,0,1);
}

figure {
  margin: 0px;
  padding: 0px;
  height: auto;
  margin-bottom: 1em;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  max-width: 100%;
  height: auto;
  display: block;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.floatleft {
  float: left;
  margin-right: 1em;
}

.maxgolden {
  max-width: 38.2%;
}

div.preview {
  overflow: auto;
  padding: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.07em;
}

div.preview:hover {
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px 0.3em rgba(0,0,0,0.1);
}

div.preview h3 {
  margin-top: 0em;
  margin-bottom: 0.3em;
}

div.preview p {
  margin-top: 0.3em;
  margin-bottom: 0em;
}

ul.conference {
  line-height: 1;
  list-style-type: none;
  padding: 0px;
}

li.conference:not(:last-child) {
  margin-bottom: 0.5em;
}

.katex {
  font-size: 1.1em !important;
  line-height: 0.85em !important;
}

pre, code, .chroma {
  font-family: 'Cousine', monospace;
  font-size: 0.9em;
  padding-top: 0.1em;
  background-color: var(--yellow);
}

pre code {
  display: block;
}

pre {
  border-radius: 0.07em;
  box-shadow: 0px 0px 0px 0.3em var(--yellow);
}

hr {
  border: 1px solid;
}

.footnotes {
  font-size: 14px;
}

input, textarea {
  font: inherit;
  background-color: inherit;
  border: 2px solid grey;
  border-radius: 0.4em;
  padding: 0.4em;
  outline: none;
}

input:focus, textarea:focus {
  border-color: black;
}

input[type=button], input[type=submit] {
  background-color: var(--yellow);
}

input[type=submit] {
  background-color: rgba(255,236,100,1);
}

#comments {
  font-size: smaller;
}

#comment-text {
  width: 100%;
  resize: vertical;
}

sup {
  vertical-align: top;
  font-size: small;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

th, td {
  padding: 0.2em;
}

th {
  background-color: var(--yellow);
}

td {
  padding-right: 1em;
}

@media print {
  body {
    font-size: 11pt;
    background-color: transparent;
  }

  footer {
    display: none;
  }

  .noprint {
    display: none;
  }

  figure {
    max-width: 400pt;
  }
}
