{{ $list := getJSON "https://mathmeetings.net/nt.json" }}
<ul class=conference>
{{ $currentYear := "" }}
{{ $currentMonth := "" }}

{{ range sort $list.conferences "date" }}

{{ $year := dateFormat "2006" .start_date }}
{{ $month := dateFormat "January" .start_date }}

{{ if ne $year $currentYear }}
{{ $currentYear = $year }}
<h3>{{ $currentYear }}</h3>
{{ $currentMonth = "" }}
{{ end }}

{{ if ne $month $currentMonth }}
{{ $currentMonth = $month }}
<h4>{{ $currentMonth }}</h4>
{{ end }}

<li class="conference"><a href="{{ .homepage }}">{{ .title }}</a><br><small>{{ with .meeting_type }}[{{ . }}] {{ end }}{{ dateFormat "January 2" .start_date }} – {{ if ne (dateFormat "2006" .end_date) $currentYear }}{{ dateFormat "January 2 (2006)" .end_date}}{{ else }}{{ if ne (dateFormat "1" .start_date) (dateFormat "1" .end_date) }}{{ dateFormat "January 2" .end_date}}{{ else }}{{ dateFormat "2" .end_date}}{{ end }}{{ end }}{{ with .institution }}, {{ . }}{{ end }}{{ with .city }}, {{ . }}{{ end }}, {{ .country }}</small></li>

{{ end }}
</ul>
